
<div class="container">

  <app-show-errors [errors]="errors"></app-show-errors>

  <form (submit)="saveChanges()" [formGroup]="form">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput>
      <mat-error *ngIf="form.invalid">{{getNameFieldError()}}</mat-error>
    </mat-form-field>

    <div class="center mt">
      <button mat-flat-button color="primary" [disabled]="form.invalid">Save Changes</button>
      <a mat-stroked-button routerLink="/genres">Cancel</a>
    </div>

  </form>
</div>
