<section *ngIf="!list">
  <span #loading>
    <ng-content select="[loading]"></ng-content>
  </span>
  <span *ngIf="!loading.innerHTML.trim()">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" alt="klk">
  </span>
</section>

<div *ngIf="list?.length === 0">
  <span #empty><ng-content select="[empty]"></ng-content></span>
  <span *ngIf="!empty.innerHTML.trim()">
    <p>There is not any films to show</p>
  </span>
</div>

<ng-container *ngIf="list && list.length > 0">
  <ng-content select="[content]"></ng-content>
</ng-container>
