<section *ngIf="!list">
  <span #loading>
    <ng-content select="[loading]"></ng-content>
  </span>
  <span class="spinner" *ngIf="!loading.innerHTML.trim()">
    <div class="spinner">
      <mat-spinner *ngIf="!model"></mat-spinner>
    </div>
  </span>
</section>

<div *ngIf="list?.length === 0">
  <span #empty><ng-content select="[empty]"></ng-content></span>
  <span *ngIf="!empty.innerHTML.trim()">
    <p>There is not any films to show</p>
  </span>
</div>

<ng-container *ngIf="list && list.length > 0">
  <ng-content select="[content]"></ng-content>
</ng-container>
