<div class="container">
  <app-show-errors [errors]="errors"></app-show-errors>

  <form (submit)="onSubmit()" [formGroup]="form">

    <div class="flex">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput/>
        <mat-error>Name Field Is Required</mat-error>
      </mat-form-field>

      <mat-form-field class="max-rem" appearance="outline">
        <mat-label>BirthDate</mat-label>
        <input formControlName="birthDate" matInput [matDatepicker]="picker"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <app-input-img [actualImageURL]="model?.photo" (selectedFile)="selectedFile($event)"></app-input-img>

    <app-input-markdown [markdownContent]="model?.biography" [placeHolderTextarea]="'Biography'" (changeMarkdown)="markdownChange($event)"></app-input-markdown>

    <div class="buttons">
      <button mat-flat-button color="primary" [disabled]="form.invalid">Save Changes</button>
      <a mat-stroked-button routerLink="/actors">Cancel</a>
    </div>

  </form>
</div>
